@font-face {
    font-family: "Aa般若楷书";
    src: url("AaBanRuoKaiShu-2.eot"); /* IE9 */
    src: url("AaBanRuoKaiShu-2.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("AaBanRuoKaiShu-2.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("AaBanRuoKaiShu-2.woff") format("woff"), /* chrome, firefox */
    url("AaBanRuoKaiShu-2.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("AaBanRuoKaiShu-2.svg#Aa般若楷书") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


