@font-face {
    font-family: "AaMeiyujianchajf";
    src: url("meiyujiancha.eot"); /* IE9 */
    src: url("meiyujiancha.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("meiyujiancha.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("meiyujiancha.woff") format("woff"), /* chrome, firefox */
    url("meiyujiancha.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("meiyujiancha.svg#AaMeiyujianchajf") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


